.u-pt {
  &_xl {
    padding-top: $gutter-xl;
  }
  &_lg {
    padding-top: $gutter-lg;
  }
  &_md {
    padding-top: $gutter-md;
  }
  &_sm {
    padding-top: $gutter-xs;
  }
  &_xs {
    padding-top: $gutter-xs;
  }
}

.u-pb {
  &_xl {
    padding-bottom: $gutter-xl;
  }
  &_lg {
    padding-bottom: $gutter-lg;
  }
  &_md {
    padding-bottom: $gutter-md;
  }
  &_sm {
    padding-bottom: $gutter-xs;
  }
  &_xs {
    padding-bottom: $gutter-xs;
  }
}

.u-pl {
  &_xl {
    padding-left: $gutter-xl;
  }
  &_lg {
    padding-left: $gutter-lg;
  }
  &_md {
    padding-left: $gutter-md;
  }
  &_sm {
    padding-left: $gutter-xs;
  }
  &_xs {
    padding-left: $gutter-xs;
  }
}

.u-py {
  &_lg {
    padding-top: $gutter-lg;
    padding-bottom: $gutter-lg;
  }
}

.u-pt {
  &_lg {
    padding-top: $gutter-lg;
  }
}

.u-px {
  &_section {
    padding-left: 10%;
    padding-right: 10%;
  }
  &_xl {
    padding-left: $gutter-xl;
    padding-right: $gutter-xl;
  }

  &_xxl {
    padding-left: 64px;
    padding-right: 64px;
  }
}