.p-profile-top {
  @include screen-pc {
    position: relative;
    display: none;
    height: 100vh;
  }

  &__sp {
    @include screen-sp{
      padding-top: 48px;
    }
  }

  // トップページのプロフィールのテキスト部分
  &-text {
    @include screen-pc {
      position: absolute;
      top: -40px;
      left: 5%;
      width: 45%;
      background-color: white;
      border: 2px solid $primary-color;
      border-radius: 150px;
      padding: 96px 0 ;
      animation-name: fade-profile-text-down;
      animation-duration: 4s;
      animation-iteration-count: initial;
      z-index: 10;
    }
    @include screen-sp {
      border: 1px solid $primary-color;
      border-radius: 60px;
      min-height: 720px;
    }

    // フェードインアニメーション(テキスト部分)
    @keyframes fade-profile-text-down {
      from {
        opacity: 0;
        transform: translateY(-80px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    &:before {
      content: "";
      padding-top: 75%;
    }
    &__title {
      text-align: center;
      font-weight: 300;
      font-size: $font-size-title;
      letter-spacing: 5px;
      margin: 0;
      @include screen-sp {
        font-size: 20px;
        margin-bottom: 72px;
      }
      &_border-bottom {
        border-bottom: solid 2px $primary-color;
      }
    }
    &__text-body {
      @include screen-pc {
        padding: 64px 120px;
      }
      @include screen-sp {
        padding: 0 24px;
        font-size: 12px;
      }
      text-align: center;
      line-height: 2.5;
    }
    &__button {
      @include screen-sp {
        margin-bottom: 24px;
        margin-top: 40px;
      }
      &_text {
        cursor: pointer;
        color: $primary-color;
        letter-spacing: 5px;
        @include screen-pc {
          font-size: $font-size-button;
          padding: 16px 32px 16px 32px;
          border: 2px solid $primary-color;
        }
        @include screen-sp {
          font-size: 12px;
          padding: 14px 50px;
          border: 1px solid $primary-color;
        }
        border-radius: 10px;
        &:hover {
          background-color: rgba(173, 163, 163, 0.1);
        }
      }
    }
  }

  // トップページのプロフィールの画像部分
  &-image {
    @include screen-pc {
      position: absolute;
      top: 13%;
      right: 5%;
      width: 50%;
      height: auto;
      border-radius: 120px;
      z-index: 30;
      border: 2px solid $primary-color;
      animation-name: fade-profile-image-slide;
      animation-duration: 4s;
      animation-iteration-count: initial;
    }
    @include screen-sp {
      display: none;
    }

    // フェードインアニメーション(画像部分)
    @keyframes fade-profile-image-slide {
      from {
        opacity: 0;
        transform: translateX(80px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}