.p-profile {
  &__image {
    margin-left: 10%;
  }
  &__text {
    margin-left: 10%;
  }
}

.p-profile-image {
  width: 35%;
  object-fit: cover;
  border-radius: 50px;
}

.p-profile-text {
  width: 35%;
  &__name {
    font-family: "ヒラギノ明朝 ProN";
    font-size: 56px;
  }
  &__main {
    line-height: 3;
    font-weight: 100;
  }
}

.p-profile-contact {
  width: 100%;
  height: 400px;
  background-color: white;
}

.p-profile__contact {
  padding: 0 20%;
  font-size: 24px;
  letter-spacing: 5px;
}

.p-profile-contact__button {
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: 2px;
  cursor: pointer;
}

.p-profile-contact__text {
  color: $primary-color;
}