.p-slider {
  height: 100vh;
  width: 100vw;
}

#p-slider {
  height: 720px;
}

.p-slider-contents {
  position: absolute;
  img {
    width: 100%;
    opacity: 1;
    z-index: 20;
  }
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
}