.p-lesson-strength{
  &__text {
    @include screen-pc{
      margin-left: 10%;
    }
    &_right {
      @include screen-pc {
        margin-right: 10%;
      }
      @include screen-sp {
        order: 2;
      }
    }
  }
  &__img {
    @include screen-pc {
      margin-left: 5%;
    }
    @include screen-sp {
      width: 100%;
    }
  }
}

.p-lesson-strength-text{
  &__main {
    @include screen-pc {
      line-height: 2.5;
    }
    @include screen-sp {
      line-height: 1.5;
    }
  }
  &__title {
    @include screen-pc {
      font-size: 32px;
      font-weight: 200;
      letter-spacing: 3px;
      border-bottom: 1px solid $primary-color;
    }
    @include screen-sp {
      font-size: $font-size-xl;
      font-weight: 200;
      letter-spacing: 1.8px;
    }
  }
  &__title-pc {
    @include screen-pc {
      font-size: 32px;
      font-weight: 200;
      letter-spacing: 3px;
      border-bottom: 1px solid $primary-color;
    }
    @include screen-sp {
      display: none;
    }
  }
  &__title-sp {
    @include screen-sp {
      font-size: $font-size-xl;
      font-weight: 200;
      letter-spacing: 1.8px;
    }
    @include screen-pc {
      display: none;
    }
  }
}

.p-lesson-strength-contents {
  @include screen-pc {
    margin-top: 144px;
  }
}

.p-lesson__title {
  @include screen-sp {
    font-weight: 300;
    letter-spacing: 1.8px;
  }
  @include screen-pc {
    font-size: 32px;
    letter-spacing: 5px;
  }
  border-bottom: 2px solid $primary-color;
}

.p-lesson-strength__title-box {
  @include screen-pc {
    margin-bottom: 104px;
  }
  @include screen-sp {
    margin-bottom: 40px;
  }
}

.p-lesson-course {
  @include screen-pc {
    width: 280px;
  }
}

.p-lesson__course {
  @include screen-pc {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  @include screen-sp {
    margin-top: $gutter-xl;
    margin-bottom: 40px;
    &:first-child {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
  }
}

.p-lesson-course__img {
  @include screen-pc {
    width: 280px;
    height: 400px;
  }
  @include screen-sp {
    width: 100%;
  }
}

.p-lesson__title-box {
  @include screen-pc {
    margin-bottom: 144px;
  }
  @include screen-sp {
    margin-bottom: 40px;
  }
}

.p-lesson-strength_pt {
  @include screen-pc {
    padding-top: $gutter-xl;
  }
  @include screen-sp {
    padding-top: $gutter-xl;
  }
}

.p-lesson_px{
  @include screen-pc {
    padding: 0 10%;
  }
  @include screen-sp {
    padding: 0 8px;
  }
}

.p-lesson-strength__point-sp {
  @include screen-sp {
    flex-direction: column;
  }
}

.p-lesson-strength_img-w {
  @include screen-pc {
    width: 560px;
  }
  @include screen-sp {
    width: 100%;
  }
}

.p-lesson-strength-pc {
  @include screen-sp {
    display: none;
  }
}

.p-lesson-strength-sp {
  @include screen-pc {
    display: none;
  }
}

.p-lesson-strength_mt {
  @include screen-pc {
    margin-top: 144px;
  }
}

.p-lesson-strength_img-right {
  order: 1;
}

.p-lesson-course-sp {
  @include screen-sp {
    flex-direction: column;
  }
}